.main {

    max-width: 1300px;
    margin:0 auto;
    position: relative;
}

.notification {
    color:#ffffff;
    font-family: Arial;
    display: none;
    position: fixed;
    width: 100%;
    max-width: 500px;
    min-height:200px;
    right: 10%;
    top: 10px;


    background-color: lightseagreen;
    z-index: 100;
}

.show-notif {
    display: block;
}

.notification-main {
    display: flex;
    position: relative;
}

.slides-content {
    position: relative;
    margin:20px auto;
    width: 100%;
    max-width: 230px;
    min-height: 120px;
}

.slide {
    display: none;
}


.slide-info {
    font-size: 14px;
}


.slide-on {
    display: block;
}

.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.fa-hand-point-left {
    color:#ffffff;
    position: relative;
    font-size: 20px;
    top:-2px;
    left: -10px;

}

.fa-hand-point-right {
    color:#ffffff;
    position: relative;

    font-size: 20px;
    top:-2px;
}

.button-content {
    position: relative;
    display: flex;
    justify-content:center;
}

.checkbox-caption {
    font-size: 14px;
    margin-right: 20px;
}

.notification-checkbox {
    margin-right: 10px;
}

.btn-notif {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: transparent;
    outline: none;
}

.btn-notif:hover {
    cursor: pointer;
}

.slider-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 150px;
}

.dot {
    position: relative;
    top: 5px;
    height: 10px;
    width: 10px;
    background-color: peachpuff;
    border-radius: 50%;

}

.dot:hover {
    cursor: pointer;
}

.dot-active {
    background-color: red;
}

